/* BASE.HTML STYLES */

body {
  height: 100vh;
  background: url(../images/background_image.jpg) center center cover no-repeat
    fixed;
  background-image: url(../images/background_image.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header,
main,
footer {
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* TEXT STYLES */

h1 {
  font: bold 40px "Georgia", sans-serif;
  color: #333;
  text-align: center;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
  margin-right: 20px;
}

p,
li,
a {
  font: 20px "Didot", serif;
  color: #333;
}

a {
  text-decoration: none;
}

#copyright {
  text-align: center;
  font-size: 15px;
  color: #000;
}

/* IMAGE STYLES */

#logo_image {
  border: 5px solid #333;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}

.social-icons li img {
  width: 20px;
  height: 20px;
}

/* LINK STYLES */

a:link {
  color: #333;
}

a:visited {
  color: #595959;
}

a:hover {
  color: #000;
}

/***** ABOUT PAGE STYLES *****/

#about_me {
  margin: 0 100px 0;
}

#about_me h2 {
  color: #595959;
}

#about_me img {
  border: 2px solid #595959;
  float: left;
  margin: 0 35px -3px 0;
}

#about_me p {
  color: #fff;
  font-size: 18px;
}

#resume {
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
}

#resume_link a {
  font-size: 18px;
}

#resume a:link {
  color: #fff;
  text-decoration: underline;
}

#resume a:visited {
  color: #fff;
}

#resume a:hover {
  color: #000;
}

/***** PROJECTS PAGE STYLES *****/

/***** CONTACT PAGE STYLES *****/

/* Note: form html and css borrowed from: https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form */

#contact_me h2 {
    margin: 60px 0;
  text-align: center;
  color: #595959;s
}

#contact_me form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;

  /* To see the limits of the form */
  padding: 1em;
  border: 1px solid #333;
  border-radius: 1em;
}

#contact_me div + div {
  margin-top: 1em;
}

#contact_me label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 90px;
  text-align: right;
}

#contact_me input,
textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em "Didot", serif, sans-serif;

  /* To give the same size to all text field */
  width: 300px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
  border-radius: 5px;
}

#contact_meinput:focus,
textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #000;
}

#contact_me textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

#contact_me.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

#contact_me button {
  /* This extra margin represents the same space as the space between the labels and their text fields */
  margin-left: 0.5em;
}

#contact_me #email_contact p,
#contact_me #email_contact a
 {
    text-align: center;
    margin-top: 300px;
    color: #000;
}

#contact_me #email_contact a:hover {
    color: #fff;
}
